# 将 RewriteEngine 模式打开
RewriteEngine On
RewriteBase /

# Rewrite 定义各重写规则
RewriteRule ^mall/index-(.*)-(\d+)\.html$  /index.php\?mod=mall&act=index&cid=$1&page=$2 [L,NC]
RewriteRule ^mall/index-(.*)\.html$  /index.php\?mod=mall&act=index&cid=$1 [L,NC]
RewriteRule ^mall/index\.html$  /index.php\?mod=mall&act=index [L,NC]
RewriteRule ^mall/$  /index.php\?mod=mall&act=index [L,NC]
RewriteRule ^mall$  /index.php\?mod=mall&act=index [L,NC]
RewriteRule ^mall/view-(\d+)-(.*)-(\d+)\.html$  /index.php\?mod=mall&act=view&id=$1&do=$2&page=$3 [L,NC]
RewriteRule ^mall/view-(\d+)-(.*)\.html$  /index.php\?mod=mall&act=view&id=$1&do=$2 [L,NC]
RewriteRule ^mall/view-(\d+)\.html$  /index.php\?mod=mall&act=view&id=$1 [L,NC]
RewriteRule ^mall/goods-(.*)-(\d+)-(\d+)-(\d+)-(\d+)-(.*)-(\d+)\.html$  /index.php\?mod=mall&act=goods&merchantId=$1&order=$2&start_price=$3&end_price=$4&list=$5&q=$6&page=$7 [L,NC]
RewriteRule ^mall/goods-(.*)\.html$  /index.php\?mod=mall&act=goods&q=$1 [L,NC]
RewriteRule ^mall/goods\.html$  /index.php\?mod=mall&act=goods [L,NC]
RewriteRule ^jian_article/index\.html$  /index.php\?mod=article&act=index [L,NC]
RewriteRule ^jian_article/$  /index.php\?mod=article&act=index [L,NC]
RewriteRule ^jian_article$  /index.php\?mod=article&act=index [L,NC]
RewriteRule ^jian_article/list-(.*)-(\d+)\.html$  /index.php\?mod=article&act=list&cid=$1&page=$2 [L,NC]
RewriteRule ^jian_article/list-(.*)\.html$  /index.php\?mod=article&act=list&cid=$1 [L,NC]
RewriteRule ^jian_article/list\.html$  /index.php\?mod=article&act=list [L,NC]
RewriteRule ^jian_article/view-(\d+)\.html$  /index.php\?mod=article&act=view&id=$1 [L,NC]
RewriteRule ^huan/list-(\d+)-(\d+)\.html$  /index.php\?mod=huan&act=list&cid=$1&page=$2 [L,NC]
RewriteRule ^huan/list-(\d+)\.html$  /index.php\?mod=huan&act=list&cid=$1 [L,NC]
RewriteRule ^huan/list\.html$  /index.php\?mod=huan&act=list [L,NC]
RewriteRule ^huan/view-(\d+)\.html$  /index.php\?mod=huan&act=view&id=$1 [L,NC]
RewriteRule ^tao/index\.html$  /index.php\?mod=tao&act=index [L,NC]
RewriteRule ^tao/$  /index.php\?mod=tao&act=index [L,NC]
RewriteRule ^tao$  /index.php\?mod=tao&act=index [L,NC]
RewriteRule ^tao/view-(.*)-(.*)-(.*)\.html$  /index.php\?mod=tao&act=view&iid=$1&promotion_price=$2&promotion_endtime=$3 [L,NC]
RewriteRule ^tao/view-(.*)\.html$  /index.php\?mod=tao&act=view&iid=$1 [L,NC]
RewriteRule ^goods/index-(.*)-(\d+)-(.*)-(\d+)\.html$  /index.php\?mod=goods&act=index&code=$1&cid=$2&do=$3&page=$4 [L,NC]
RewriteRule ^goods/index-(.*)-(\d+)-(\d+)\.html$  /index.php\?mod=goods&act=index&code=$1&cid=$2&page=$3 [L,NC]
RewriteRule ^goods/index-(.*)-(\d+)-(.*)\.html$  /index.php\?mod=goods&act=index&code=$1&cid=$2&do=$3 [L,NC]
RewriteRule ^goods/index-(.*)-(\d+)\.html$  /index.php\?mod=goods&act=index&code=$1&cid=$2 [L,NC]
RewriteRule ^goods/index-(.*)-(.*)\.html$  /index.php\?mod=goods&act=index&code=$1&do=$2 [L,NC]
RewriteRule ^goods/index-(\d+)\.html$  /index.php\?mod=goods&act=index&cid=$1 [L,NC]
RewriteRule ^goods/index-(.*)\.html$  /index.php\?mod=goods&act=index&code=$1 [L,NC]
RewriteRule ^goods/index\.html$  /index.php\?mod=goods&act=index [L,NC]
RewriteRule ^goods/$  /index.php\?mod=goods&act=index [L,NC]
RewriteRule ^goods$  /index.php\?mod=goods&act=index [L,NC]
RewriteRule ^goods/view-(.*)-(.*)\.html$  /index.php\?mod=goods&act=view&code=$1&id=$2 [L,NC]
RewriteRule ^goods/view-(.*)\.html$  /index.php\?mod=goods&act=view&id=$1 [L,NC]
RewriteRule ^baobei/list-(.*)-(\d+)-(.*)-(\d+)\.html$  /index.php\?mod=baobei&act=list&sort=$1&cid=$2&q=$3&page=$4 [L,NC]
RewriteRule ^baobei/list-(\d+)-(\d+)\.html$  /index.php\?mod=baobei&act=list&cid=$1&page=$2 [L,NC]
RewriteRule ^baobei/list-(\d+)-(.*)\.html$  /index.php\?mod=baobei&act=list&cid=$1&q=$2 [L,NC]
RewriteRule ^baobei/list-(\d+)\.html$  /index.php\?mod=baobei&act=list&cid=$1 [L,NC]
RewriteRule ^baobei/list\.html$  /index.php\?mod=baobei&act=list [L,NC]
RewriteRule ^baobei/user-(\d+)-(\d+)-(\d+)\.html$  /index.php\?mod=baobei&act=user&uid=$1&xs=$2&page=$3 [L,NC]
RewriteRule ^baobei/user-(\d+)-(\d+)\.html$  /index.php\?mod=baobei&act=user&uid=$1&xs=$2 [L,NC]
RewriteRule ^baobei/user-(\d+)\.html$  /index.php\?mod=baobei&act=user&uid=$1 [L,NC]
RewriteRule ^baobei/view-(\d+)\.html$  /index.php\?mod=baobei&act=view&id=$1 [L,NC]
RewriteRule ^help/index-(\d+)\.html$  /index.php\?mod=help&act=index&cid=$1 [L,NC]
RewriteRule ^help/index\.html$  /index.php\?mod=help&act=index [L,NC]
RewriteRule ^help/$  /index.php\?mod=help&act=index [L,NC]
RewriteRule ^help$  /index.php\?mod=help&act=index [L,NC]
RewriteRule ^about/index-(\d+)\.html$  /index.php\?mod=about&act=index&id=$1 [L,NC]
RewriteRule ^about/index\.html$  /index.php\?mod=about&act=index [L,NC]
RewriteRule ^about/$  /index.php\?mod=about&act=index [L,NC]
RewriteRule ^about$  /index.php\?mod=about&act=index [L,NC]
RewriteRule ^sitemap/index\.html$  /index.php\?mod=sitemap&act=index [L,NC]
RewriteRule ^sitemap/$  /index.php\?mod=sitemap&act=index [L,NC]
RewriteRule ^sitemap$  /index.php\?mod=sitemap&act=index [L,NC]
RewriteRule ^paipai/index\.html$  /index.php\?mod=paipai&act=index [L,NC]
RewriteRule ^paipai/$  /index.php\?mod=paipai&act=index [L,NC]
RewriteRule ^paipai$  /index.php\?mod=paipai&act=index [L,NC]
RewriteRule ^paipai/list-(\d+)-(.*)-(\d+)-(.*)-(\d+)-(\d+)-(\d+)-(\d+)\.html$  /index.php\?mod=paipai&act=list&cid=$1&q=$2&sort=$3&property=$4&begPrice=$5&endPrice=$6&list=$7&page=$8 [L,NC]
RewriteRule ^paipai/list-(.*)\.html$  /index.php\?mod=paipai&act=list&q=$1 [L,NC]
RewriteRule ^paipai/list\.html$  /index.php\?mod=paipai&act=list [L,NC]
RewriteRule ^task/index\.html$  /index.php\?mod=task&act=index [L,NC]
RewriteRule ^task/$  /index.php\?mod=task&act=index [L,NC]
RewriteRule ^task$  /index.php\?mod=task&act=index [L,NC]
RewriteRule ^tbimg/(.*)\.jpg$  /comm/showpic.php\?pic=$1 [L,NC]
RewriteRule ^plugin/(.*)\.html$  /plugin.php\?plugin_query=$1 [L,NC]
RewriteRule ^index\.html$  /index.php [L,NC]
